@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Please view the <a href="https://github.com/201340ak/MyKitchen/blob/master/README.md">Readme</a> provided in our source control for more information about development</p>

<p>
    This is a Web API project that serves up methods to Create, Read, Update, and Delete objects provided by MyKitchen. 
    There will be an application provided to End Users that will call into this API in order to create users, share recipes, and manage inventories.
    The goal behind My Kitchen is to be able to utilize Recipes, and Grocery Lists in order to best manage and make use of all items in a user's inventory.
</p>
