@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is currently in Beta. If you have any questions, suggestions, comments, or concerns please email:</p>
<address>
    <a>justKidding@DontEmailMe.com</a><br />
</address>
<address>
            <a
               href="https://github.com/201340ak/MyKitchen">
                But feel free to check out the code &raquo;
            </a>
</address>
