@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
    <h1>My Kitchen</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to My Kitchen Web API</h2>
        <p>
            This is the back end API that serves up basic CRUD methods on the objects in My Kitchen (e.g. Recipes, Inventory, and Users).
        </p>
    </div>
    <div class="col-md-6">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/201340ak/MyKitchen">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>