html { height: 100% }
::-moz-selection { background: #444; color: #ffa500; text-shadow: none; }
::selection { background: #444; color: #ffa500; text-shadow: none; }
body { background-image: radial-gradient( cover, rgba(92,100,111,1) 0%,rgba(31,35,40,1) 100%), url('http://i.minus.com/io97fW9I0NqJq.png') }
.login {
  border: 1px solid #a6abaf;
  border-radius: 6px;
  margin: 20px auto 0;
}
.login h1 {
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  color: #ffa500;
}
input[type="password"], input[type="email"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  color: #696969;
  height: 39px;
  margin: 20px auto;
  padding-left: 10px;
  width: 90%;
}
input[type="password"]:focus, input[type="email"]:focus {
  box-shadow: 0 0 3px .5px #ffa500;
  outline: 0;
}
.forgot, .register {
  color: #7f7f7f;
  float: right;
  font: 12px/1 sans-serif;
  text-decoration: none;
  transition: color .4s;
  margin-right: 10px;
}
.forgot:hover, .register:hover { color: #3b3b3b }

input[type="submit"] {
  height:35px;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  cursor:pointer;
  border: none;  
  background-color: #FFA500;
  border-radius: 5px;
  margin: 10px auto;
  padding-left: 10px;
  width: 90%;
}

input[type="submit"]:active {
  background: #E59400;
}