.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #FFA500;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.login input{
    display: block;
}

.add-recipe-card, .recipe-card{
    margin-top: 10px;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-card{
    border: .5px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

h3.recipe-title{
    color: #FFA500;
    font-weight: bolder;
    padding-top: 0;
    margin-top: 0;
}

.add-recipe-card > input, .add-recipe-card > textarea,
.recipe-prep-time, .recipe-cook-time, .recipe-servings
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.recipe-card:hover, .add-recipe-card{
    border: .5px solid #FFA500;
    box-shadow: 3px 3px 2px 0px lightgray;
}

.recipe-data, .recipe-food{
    list-style: none;
}

.recipe-data li{
    padding-top: 4px;
}

.recipe-data-key, .recipe-food-name {
    font-style: italic;
    font-weight: bold;
}

.recipe-data-value, .recipe-food-quantity {
    font-weight: lighter;
}

.recipe-description
{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}

.quantity-input-container
{
    padding-left: 0;
    padding-right: 1;
}

.add-recipe:enabled{
    color: white;
    background: #FFA500;
    border: none;
}

.add-recipe-btn-container
{
    margin-top: 10px;;
}

button#save-recipe{
    background: #00BDFF; 
    color: white;
    margin-left: 5px;
}

button#cancel-recipe{
    background: #FF0067;
    color: white;
    margin-left: 5px;
}

button#cancel-recipe:hover, button#save-recipe:hover{
    background: #FFA500;
}

button.remove-recipe{
    background: #FF0067;
    color: white;
}

ul{
    list-style: none;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

    .recipe-card{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-brand {
        color: #FFA500;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .recipe-card {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}